.main{
    margin: auto;
    border: 4px solid blue;
    width: max-content;
    height: fit-content;
    border-radius: 40px;
    background-color: white;
}

.texto{
    margin-left: 20px;
}

.membros{
    margin-left: 20px;
    list-style-type: square;
}